$Red: hsl(1, 90%, 64%);
$Blue: hsl(219, 85%, 26%);

$White: hsl(0, 0%, 100%);
$Very_light_grayish_blue: hsl(210, 60%, 98%);
$Light_grayish_blue_1: hsl(211, 68%, 94%);
$Light_grayish_blue_2: hsl(205, 33%, 90%);
$Grayish_blue: hsl(219, 14%, 63%);
$Dark_grayish_blue: hsl(219, 12%, 42%);
$Very_dark_blue: hsl(219, 12%, 42%);

$Mobile: 600px;
.dropdown {
  position: absolute;
  top: 10%;
  right: 5%;
}
.add_notification_btn {
  width: 100%;
  color: $White;
  border: none;
  border-radius: 4px;
  background-color: $Blue;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  padding: 10px;
  transition: 0.15s;
  &:hover {
    cursor: pointer;
    opacity: 0.85;
  }
}
.list {
  display: flex;
  flex-direction: column;
  transition: 0.8s;
}
.links {
  margin-top: 1vh;
  color: $White;
  border: none;
  border-radius: 4px;
  width: 100%;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  background-color: $Blue;
  padding: 10px;
  transition: 0.15s;
  &:hover {
    cursor: pointer;
    opacity: 0.85;
  }
}
.hidden {
  visibility: hidden;
  opacity: 0;
}

@media (max-width: $Mobile) {
  .dropdown {
    position: fixed;
    top: 0%;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
  }
  .add_notification_btn {
    color: $White;
    border: none;
    border-radius: 4px;
    background-color: $Blue;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    padding: 10px;
    transition: 0.15s;
    &:hover {
      cursor: pointer;
      opacity: 0.85;
      width: 1hw;
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    transition: 0.8s;
  }
  .links {
    margin-top: 1vh;
    color: $White;
    border: none;
    border-radius: 4px;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    background-color: $Blue;
    padding: 10px;
    transition: 0.15s;
    &:hover {
      cursor: pointer;
      opacity: 0.85;
    }
  }
}
